<a href="https://colab.research.google.com/github/Cla0001/CPEN-21A-CPE-1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Introduction to Python Programing

In [1]:
b = "Sally"
print(type(b))

<class 'str'>

### Naming Variables

In [2]:
a = 'Sally'
A = "John"
print(a)
print(A)

Sally
John

In [3]:
a, b, c = 0, 1, 2
print(type(a))  #This is programming using type function
print(b)
print(c)

<class 'int'>
1
2

In [4]:
a = 4.50
print(type(a))

<class 'float'>

### One Value to Multiple Variables

In [5]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [6]:
x = "enjoying"
print("Python programing is" + " " + x)

Python programing is enjoying

In [7]:
x = 4
y = 5
print(x+y)
print(x-y)

9
-1

In [8]:
not(x>y or x==x)  #This is an example of program using logical operator

False