<a href="https://colab.research.google.com/github/Cla0001/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
week = {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"}
for x in week:
  print(x)

Wednesday
Monday
Tuesday
Friday
Thursday
Saturday
Sunday

Example 2 (the break statement)

In [3]:
for x in week:
  print(x)
  if x=="Thursday":
    break

Wednesday
Monday
Tuesday
Friday
Thursday

Example 3 (print after break)

In [12]:

for x in week:
  if x=="Thursday":
    break
  print(x)

Wednesday
Monday
Tuesday
Friday

Example 4 (Looping through a string)

In [13]:
for x in "week":
  print(x)

w
e
e
k

The Range() Function

In [14]:
for x in range(6): #Example 1
  print(x)

0
1
2
3
4
5

In [15]:
for x in range(2,6): #Example 2
  print(x)

2
3
4
5

Nested Loops

In [18]:
adjective={"red", "big", "tasty"}
fruits= {"apple", "banana", "cherry"}
for x in adjective:
  for y in fruits:
    print(x,y)

red cherry
red banana
red apple
tasty cherry
tasty banana
tasty apple
big cherry
big banana
big apple

2. Python While Loop

In [19]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Example 1: The break statement

In [24]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1   #Assignment operation for addition

1
2
3

In [25]:
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

The Else Statement

In [26]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [27]:
hello = {"Hello 0", "Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6", "Hello 7", "Hello 8", "Hello 9", "Hello 10"}
for x in hello:
  print(x)

  i=0
  while i<10:
    print("Hello",i)
    i+=1

Hello 8
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 4
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 6
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 5
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 3
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 1
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 7
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 2
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 9
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 0
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

Application 2

In [28]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9